logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/lib/MapGuideApi.jar
ACE.dll
GEOS.dll
lib_json.dll
MapGuideJavaApi.dll
MgFoundation.dll
MgGeometry.dll
MgHttpHandler.dll
MgMapGuideCommon.dll
MgMdfModel.dll
MgMdfParser.dll
MgPlatformBase.dll
MgWebApp.dll
MgWebSupport.dll
xerces-c_3_1mg.dll
/MapGuideJavaApiEx.dll
/lib/MapGuideApiEx-sources.jar
/lib/MapGuideApiEx.jar