<!DOCTYPE html>
<html>
    <head>
        <title>mapguide4j REST API Test Runner</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/qunit-1.10.0.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <div id="qunit"></div>
        <script src="@routes.Assets.at("javascripts/qunit-1.10.0.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/rest_testsuite.js")" type="text/javascript"></script>
    </body>
</html>
